body{

    margin: 0;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 10px;
    
    }
    
    .shopping{
    display: flex;
    flex-direction: column;
    
    
    margin: 80px auto;
    background: white;
    border-radius: 6px 10px 13px 12px;
    -moz-border-radius: 6px 10px 13px 12px;
    -webkit-border-radius: 6px 10px 13px 12px;
    border: 0px solid #080208;
    
    width: 70%;
    height: auto;
    overflow: hidden;
    }
    
    .title{
    
      height: 60px;
      border-bottom: 1px solid #E1E8EE;
      padding: 20px 30px;
      color: #5E6977;
      font-size: 18px;
      font-weight: 400px;
    
    
    }
    
    
    .item{
    
    display: flex;
    align-items: center;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 400px;
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
          height: auto;
          flex-wrap: wrap;
          justify-content: center;
    
    }
    
    .buttons{
    
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
    display: flex;
     width: 5px;
     height: 5px;
      
      
    
    }
    
    .delete-btn{
    
    
    
    cursor: pointer;
    width: 2px;
    height: 2px;
    background-repeat: no-repeat;
    
    }
    .delete-btn:active
    {
      top: 1px;
      left:1px; 
    }
    .delete-btn:hover{
      background:gray;
    
      border: gray solid 2px;
    }
    
    .like-btn{
    
      
      cursor: pointer;
      width: 2px;
      height: 2px;
      background-repeat: no-repeat;
    
    }
    
    .like-btn:active
    {
      top: 1px;
      left:1px; 
    }
    
    .like-btn:hover{
      background:rgb(255, 255, 255) ;
     /* color: rgb(236, 81, 81);*/
      border: rgb(234, 246, 252) solid 2px;
    }
    
    .image{
    
    margin-right: 50px;
    
    
    
    }
    img{
    
    width: 100px;
    
    }
    
    
    
    
    
    .description{
      
      padding-top: 10px;
      margin-right: 60px;
      width: 115px;
    
    }
    
    .description> .desc1 {
      display: block;
      font-size: 14px;
      color: #43484D;
      font-weight: 400;
    }
    
    .description> .desc2 { 
      font-weight: 300;
        margin-top: 8px;
        color: #86939E;
    }
    
    .quantity{
    
      padding-top: 20px;
      margin-right: 60px;
    }
    .quantity input {
      -webkit-appearance: none;
      border: none;
      text-align: center;
      width: 32px;
      font-size: 16px;
      color: #43484D;
      font-weight: 300;
    }
    
    
    /**.plus-btn{
      width:1px;
      height: 1px;
      background-color: #E1E8EE;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      margin-top: 2px;
    
    }
     
    .minus-btn{
      width:1px;
      height: 1px;
      background-color: #E1E8EE;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      margin-bottom: 3px;
    
    }*/
    
    .plus-btn
    {
      position:relative;
      background-image:url(plus.png);
      border:none;
      width:25px;
      height:20px;
      color:white;
      background-size: 35px 25px;
      background-repeat: no-repeat;
    }
    .plus-btn:hover
    {
      background-image:url(plus.png);
    }
    .plus-btn:active
    {
      top: 1px;
      left:1px; 
    }
    
    .minus-btn
    {
      position:relative;
      background-image:url(minus.png);
      border:none;
      width:25px;
      height:20px;
      color:white;
      background-size: 35px 25px;
      background-repeat: no-repeat;
    }
    .minus-btn:hover
    {
      background-image:url(minus.png);
    }
    .minus-btn:active
    {
      top: 1px;
      left:1px; 
    }
    
    
    
    
    .quantity
    {
      padding:auto;
      margin:auto;
    }
    
    
    
    
    
    
    
    
    .total-price {
      width: 83px;
      padding-top: 27px;
      text-align: center;
      font-size: 16px;
      color: #43484D;
      font-weight: 300;
    }
    
    
    
    
    
    .delete-btn
    {
      position:relative;
      background-image:url(delete-icon.png);
      border:none;
      width:25px;
      height:20px;
      color:white;
      background-size: 30px 20px;
      background-repeat: no-repeat;
    }
    .delete-btn:hover
    {
      background-image:url(delete-icon.png);
    }
    .delete-btn:active
    {
      top: 1px;
      left:1px; 
    }
    .like-btn
    {
      position:relative;
      background-image:url(heart.png);
      border:none;
      width:25px;
      height:20px;
      color:white;
      background-size: 35px 25px;
      background-repeat: no-repeat;
    }
    .like-btn:hover
    {
      background-image:url(heart.png);
    }
    .like-btn:active
    {
      top: 1px;
      left:1px; 
    }
    
    
    
    
    
    
    .buttonbar
    {
      padding:auto;
      margin:auto;
    }
    
    
    
    
    
    
    